
@{
    @model SZMALAPP.Models.uzytkownik
}

<!doctype html>
<html lang="pl">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>SZMAL</title>
    <meta name="description" content="dashboard">
    <meta name="author" content="FilipW">
    <link rel="stylesheet" href="~/Content/dashboard-styles.css">
    @Scripts.Render("~/Scripts/scripts.js")
</head>

<body>
    <div class="wrapper">
        <div class="header">
            <div class="company-name">
                SZMAL
            </div>
            <div class="welcome-your-name">
                Witaj @Session["UserID"].ToString()
            </div>
            <div style="clear: both;"></div>
        </div>
        <div class="nav">
            <ol>
                
                <li>@Html.ActionLink("Dodaj", "Add", "User")</li>
                <li>
                    <a href="#">Przeglądaj</a>
                    <ul>
                        <li>@Html.ActionLink("Aktualne", "Actual", "User")</li>
                        <li>@Html.ActionLink("Poczekalnia", "Pending", "User")</li>
                        <li>@Html.ActionLink("Twoje", "Yours", "User")</li>
                    </ul>
                </li>
                <li>@Html.ActionLink("Ustawienia", "Settings", "User")</li>
                <li>
                    <a href="#">Statystyki</a>
                    <ul>
                        <li>@Html.ActionLink("Twoje", "YoursStats", "User")</li>
                        <li>@Html.ActionLink("Serwisu", "ServiceStats", "User")</li>
                    </ul>
                </li>
                <li>@Html.ActionLink("O autorach", "About", "User")</li>
            </ol>
        </div>
        <div class="content">
            <!--
                Tu będzie zawartość strony
            -->
            @RenderBody();
        </div>
    </div>
    <div class="footer">
        <span class="rights">
            SZMAL Company®, All Rights Reserved
        </span>
        <button type="button" class="footer-button facebook" onclick=openFacebook()>Facebook</button>
    </div>


    <script src="~/Scripts/jquery-1.11.3.min.js"></script>
    <script>
        $(document).ready(function () {
            var NavY = $('.nav').offset().top;

            var stickyNav = function () {
                var ScrollY = $(window).scrollTop();

                if (ScrollY > NavY) {
                    $('.nav').addClass('sticky');
                } else {
                    $('.nav').removeClass('sticky');
                }
            };

            stickyNav();

            $(window).scroll(function () {
                stickyNav();
            });
        });
    </script>
</body>
</html>