@model SZMALAPP.Models.uzytkownik

@{
    ViewBag.Title = "Login";


<head>
    <meta charset="utf-8" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>SZMAL company</title>
    <meta name="description" content="SZMAL">
    <meta name="author" content="FilipW">
    <link rel="icon" href="~/Content/img/icon.png">
    <link rel="stylesheet" href="~/Content/styles.css" />

    @Scripts.Render("~/Scripts/scripts.js")
</head>

<body>    
    <div id="wrapper">
        <div id="header">
            <div id="company-name">
                SZMAL
            </div>
        </div>
        <div id="login-css">
            <button type="button" class="login-button" onclick="showRegisterPopup()">Rejestracja</button>
            <button type="button" class="login-button" onclick="showLoginPopup()">Logowanie</button>
            <button type="button" class="login-button">Gość</button>
        </div>
        <div id="content">
            <div id="box-left">
                <img src="~/Content/img/logo2.png" />
                <div id="motto">
                    Od ludzi dla ludzi. Bądź zawsze na bieżąco. Nie daj się zaskoczyć.
                </div>
            </div>
            <div id="box-right">
                <div id="description">
                    <p>
                        Awarie są powszechne i najczęściej zdarzają się niespodziewanie.
                        Informacje o nich, przekazane w odpowiednim <b>czasie</b>, mogą <b>zaoszczędzić</b> ludziom sporo <b>czasu, pieniędzy i nerwów.</b>
                    </p>
                    <p>
                        Dlatego też, powstał <b>SZMAL - System Zaawansowanego Monitorowania i Alarmowania Ludności</b>, aby ujednlicić sposób informowania o tego typu zdarzeniach.
                    </p>
                    <p>
                        <b>Współpracujemy</b> z przedsiębiorstwami transportowymi, przedsiębiorcami usług publicznych, administracją lokalną oraz służbami państwowymi.
                        Awarie są w obszarze zainteresowań ww. instytucji dotyczą: infrastruktury: transportowej, wodno-kanalizacyjnej, energetycznej i innej tzw. „miejskiej”.
                        Zgłoszenia są <b>uwierzytelniane</b> u źródła informacji i <b>dokumentowane</b> na podstawie zdjęć, nagrań lub innych dokumentów, więc <b>gwarantujemy</b> wiarygodność zgłoszeń.
                    </p>
                </div>
            </div>
            <div style="clear: both;"></div>
        </div>
    </div>
    <div id="footer">
        <span id="rights">
            SZMAL Company®, All Rights Reserved
        </span>
        <button type="button" class="footer-button" onclick="showAboutPopup()">O nas</button>
        <button type="button" class="footer-button" id="facebook" onclick=openFacebook()>Facebook</button>
    </div>

    <div id="register-wrapper" class="modal">
        @using (Html.BeginForm("RegisterUser", "Login", FormMethod.Post, new { @class = "modal-content animate" }))
        {
        <div id="register-container">
            <div id="register-now">
                Zarejestruj się już teraz
            </div>
            @Html.TextBoxFor(a => a.login, new { @class = "input-box", placeholder = "Login"})
            @Html.TextBoxFor(a => a.email, new { @class = "input-box", placeholder = "E-Mail" })
            @Html.TextBoxFor(a => a.haslo, new { @class = "input-box", @type = "password", placeholder = "Haslo" })
            <button type="submit" class="submit-button">Zarejestruj</button>
        </div>
        }
    </div>

    <div id="login-wrapper" class="modal">
        @using (Html.BeginForm("LoginUser", "Login", FormMethod.Post, new { @class = "modal-content animate" }))
        {
            <div id="login-container">
                <div id="register-now">
                    Zaloguj się
                </div>

                @Html.TextBoxFor(a => a.login, new { @class = "input-box" , placeholder = "Login" })
                @Html.TextBoxFor(a => a.haslo, new { @class = "input-box", @type = "password" , placeholder = "Haslo" })

                <input type="submit" value="Zaloguj" class="submit-button" />

            </div>
        }
    </div>

    <div id="about-wrapper" class="modal">
        <div id="about-container" class="modal-content animate">
            <div id="register-now">
                O nas
            </div>
            <div id="about">
                Projekt SZMAL realizowany jest przez grupę pasjonatów:
                <div class="person">- Radosław Kister - Database Designer</div>
                <div class="person">- Bartosz Konecki - Software Engeneer</div>
                <div class="person">- Elwira Socha - Business Designer</div>
                <div class="person">- Rafał Twarowski - UX Designer</div>
                <div class="person">- Filip Woźniak - Web Content Developer</div>
                SZMAL jest w cały czas rozwijany, wciąż w wersji roboczej (pre-alpha).<br />
                Projekt finansowany z własnych środków.
            </div>
        </div>
    </div>

    <script>
        var modalRegister = document.getElementById('register-wrapper');
        var modalLogin = document.getElementById('login-wrapper');
        var modalAbout = document.getElementById('about-wrapper');
        window.onclick = function (event) {
            if (event.target == modalRegister) {
                modalRegister.style.display = "none";
            }
            else if (event.target == modalLogin) {
                modalLogin.style.display = "none";
            }
            else if (event.target == modalAbout) {
                modalAbout.style.display = "none";
            }
        }
    </script>
</body>


}
